<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690263266063-hbrfqp533vq4otojhm9fh9bjl0cbcpoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690263266063-hbrfqp533vq4otojhm9fh9bjl0cbcpoq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>690263266063-r1987igq1dtd9n9q5iqc486qihv2hkir.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIjZTLR2fDdZW5x0y3sibD3G8dvqDKgqc</string>
	<key>GCM_SENDER_ID</key>
	<string>690263266063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pratham.screensage</string>
	<key>PROJECT_ID</key>
	<string>screen-sage-dfef4</string>
	<key>STORAGE_BUCKET</key>
	<string>screen-sage-dfef4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690263266063:ios:0e1533c66c0cae05aca47a</string>
</dict>
</plist>